@using ContentModels = Umbraco.Web.PublishedModels;

@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Error>

@{ Layout = "master.cshtml"; }


<header>
    <h1>Page Not Found</h1>    
</header>
<section>
    <div class="row ml-0 mr-0">
        <div class="col-md-12 col-sm-12 p-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        @Model.Value("contentHTML")
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>